@charset "utf-8";
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    color: black;
}

div#main {
    width: 950px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
    padding: 15px;
}

section#head {
    background-color: blue;
    display: block;
    float: left;
    border-right: 1px solid black;
    padding: 10px;
    width: 454px;
    height: 450px;
}

aside#dif {
    background-color: blueviolet;
    display: block;
    float: right;
    padding: 10px;
    width: 455px;
    height: 450px;
}

footer#footer-main {
    clear: both;
    border-top: 1px solid black;
}

footer#footer-main p {
    text-align: center;
}