@charset "utf-8";
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightslategray;
}

p {
    text-align: justify;
    font-size: 12pt;
    text-indent: 10px;
}

h1 {
    text-align: center;
}

div#main {
    width: 950px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
    padding: 15px;
}

section#head {
    display: block;
    float: left;
    padding: 10px;
    width: 454px;
    height: 370;
}

aside#dif {
    display: block;
    float: right;
    padding: 10px;
    width: 455px;
    height: 370px;
}

article#services {
    display: block;
    background: url("../img/back-services.jpg")no-repeat;
    height: 600px;
    margin-top: 400px;
    background-size: 950px 600px;
}

article#services p {
    font-size: 12pt;
    text-align: center;
}

article#services h1 {
    padding-top: 70px;
}

footer#footer-main {
    clear: both;
    border-top: 1px solid black;
}

footer#footer-main p {
    text-align: center;
}