<!DOCTYPE html5>
<html lang="pt-br">

<head>
    <meta charset="uft-8">
    <title>Caramelo Festas</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="main">
        <header id="mainHead">
            <h1> A diversão não pode parar</h1>
            <nav id="menu">
                <h1>menu principal</h1>
                <ul type="disc">
                    <li><a href="index.html#dreams">Quem somos</a></li>
                    <li> <a href="index.html#services">Nossos seviços</a></li>
                    <li> <a href="index.html#contact">Me liga</a></li>
                </ul>
            </nav>
        </header>
        <section id="head">
            <article id="dreams">

                <h1>Realizando sonhos</h1>

                <p> Já pensou em relizar um sonho de seu filho(a) com uma festa bem animada, divertida e com muita segurança?</P>
                <p> A Caremelo Festas e Eventos&reg; pode te ajudar com isso.</p>
                <p> Temos mais de 10 anos de experiência no mercado. A Caramelo festas é uma empresa jovem que traz ao mercado um novo conceito em animação, oferecendo serviços de qualidade para que você possa festejar com seu pequeno com muita alegria e
                    segurança com nossos profissionais especializados, podemos propocinar muita diversão.</p>

                <p>Atendemos de crianças com as idades entre 3 e 11 anos. </p>

                <p> Recreadores preparados para entreter as crianças durante todo o tempo de festa, brincadeiras lúdicas, pintura facial, gincanas, bola, corda, torta na cara (chantili), oficina de desenho, oficina de Slime e muito mais...</p>
                </p>
            </article>
        </section>

        <aside id="dif">

            <h2>Nosso Diferencial</h2>

            <p> A Sutileza está na escolha dos detalhes, que fazem da sua festa muito divertida. Trabalhamos com eventos sociais e Corporativos. Temos uma equipe especializada de recreadores que tornarão sua festa muito mais animada. <br>
                <p> Temos muitas atividades preparadas para gastar a energia do seu pequeno! Você decide horário e tempo de permanência, é só falar.</p>
                <p> * brincadeiras e temáticas diferentes consulte!</p>
            </p>

        </aside>



        <section id="middle">
            <article id="services">
                <p>
                    <h1>​Serviços</h1>
                    <p>
                        Recreação para Festas Infantis </p>
                    <p>
                        Animação Eventos Empresariais (corridas e datas comemorativas) </p>
                    <p>
                        Recreação em Casamentos </p>
                    <p>
                        Espaço Kids em Restaurantes e Bares </p>
                    <p>
                        Oficinas Criativas </p>
                    <p>
                        Cobertura Fotográfica </p>
                    <p>
                        Monitoria </p>
                    <p>
                        Recreação para Festas Adulto </p>
                    <p>
                        Serviços de Garçons</p>
                    <p>
                        Serviços de Ajudante de Cozinha</p>
                </p>
            </article>

            <article id="contact">
                <h1>Quer ter uma festa bem animada, então me liga</h1>

                <p>
                    celular: 19. 993905548 [colocar lionk como whats app] </p>
                <p>
                    email: camiladaniele.melo@gmail.com </p>
                <p>
                    Nos siga nas redes sociais Facebook [link face caramelo com logo] </p>
                <p>
                    intstagram [link face caramelo com logo] </p>
                <p>
                    visite também nossa pagina no Facebook [link pagina face caramelo (cart)]</p>
            </article>

            <form action="post" id="contato">
                formulario para ser realizado
            </form>
        </section>

        <footer id="footer-main">
            <p>
                Copyright&copy; 2020 desenvolvido por valmir <br>
                <a href="https://www.linkedin.com/in/valmir-barros/" target="_blank">LikedIn</a><br>
                <a href="https://www.facebook.com/valmir.barros.169/" target="_blank">Facebook</a><br>
                <a href="https://github.com/ValmirBP" target="_blank">GitHub</a>
            </p>
        </footer>
    </div>
</body>

</html>