<!DOCTYPE html5>
<html lang="pt-br">

<head>
    <meta charset="uft-8">
    <title>Caramelo Festas</title>
    <link rel="stylesheet" href="../css/style.css">
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v9.0&appId=2357728814334395&autoLogAppEvents=1" nonce="Mb9OhAno"></script>
    <script lang="javascript" src="../js/functions.js"></script>
</head>

<body>
    <div id="main">
        <header id="mainHead">
            <img id="logo" src="../img/Caramelo_LOGO.png" alt="caramelo-logo" width="200" height="100">
            <nav id="menu">
                <h1>Menu principal</h1>
                <ul type="disc">
                    <li><a href="index.html#dreams">Quem somos</a></li>
                    <li> <a href="index.html#services">Nossos seviços</a></li>
                    <li> <a href="index.html#contact">Me liga !</a></li>
                </ul>
            </nav>
        </header>
        <section id="head">
            <article id="dreams">

                <h1>Realizando sonhos</h1>
                <p>
                    Já pensou em realizar um sonho de seu filho(a) com uma festa bem animada, divertida e com muita segurança?
                </p>

                <p>
                    A Caramelo Festas e Eventos® pode te ajudar com isso.
                </p>

                <p>
                    A Caramelo festas é uma empresa jovem que traz ao mercado um novo conceito em animação, oferecendo serviços de qualidade para que você possa festejar com seu pequeno com muita alegria e segurança com nossos profissionais especializados, podemos proporcionar
                    muita diversão.
                </p>

                <p>
                    Atendemos de crianças com as idades entre 3 e 11 anos. Recreadores preparados para entreter as crianças durante todo o tempo de festa, brincadeiras lúdicas, pintura facial, gincanas, bola, corda, torta na cara (chantili), oficina de desenho, oficina de
                    Slime e muito mais...
                </p>
            </article>
        </section>

        <aside id="dif">

            <h1>Nosso Diferencial</h1>

            <p>
                A Sutileza está na escolha dos detalhes, que fazem da sua festa muito divertida. Trabalhamos com eventos sociais e Corporativos. Temos uma equipe especializada de recreadores que tornarão sua festa muito mais animada.
            </p>

            <p>
                Temos muitas atividades preparadas para gastar a energia do seu pequeno! Você decide horário e tempo de permanência, é só falar.
            </p>

            <p>
                * brincadeiras e temáticas diferentes consulte!
            </p>
        </aside>

        <section id="middle">
            <article id="services">

                <h1>​ Nossos Serviços</h1>
                <p>
                    Recreação para Festas Infantis <br> <br> Animação Eventos Empresariais (corridas e datas comemorativas) <br> <br> Recreação em Casamentos <br> <br> Espaço Kids em Restaurantes e Bares <br> <br> Oficinas Criativas <br> <br>Cobertura
                    Fotográfica
                    <br> <br> Monitoria
                    <br> <br> Recreação para Festas Adulto <br> <br> Serviços de Garçons <br> <br> Serviços de Ajudante de Cozinha
                </p>
            </article>

            <article id="contact">
                <fieldset id="msg">
                    <legend>Quer ter uma festa bem animada, então me liga!</legend>
                    <div id="contactleft">
                        Telefone: <a href="https://wa.me/5519993905548?text=Olá Camila gostaria de fazer o orçamento de uma festa" target="_blank"> (19) 9939-05548 <img src="../img/whatsapp-logo-4-1.png" width="30" height="30" alt="Whatsapp Logo" srcset=""></a>                        <br>
                        <br> E-mail: <a href="mailto:camiladaniele.melo@gmail.com?subject=Solicitação%20de%20orçamento" target="-balnk">camiladaniele.melo@gmail.com</a>
                        <br>
                        <br> Nos siga nas redes sociais
                        <br>
                        <br>
                        <a href="https://www.facebook.com/camila.daniele.18" target="_blank"><img src="../img/facebook-logo-14.png" width="30" height="30" alt="facebook Logo"></a>
                        <a href="https://www.instagram.com/caramelofestaseventos/" target="_blank"> <img src="../img/instagram-logo-13.png" width="30" height="30" alt="intagram Logo"></a>
                    </div>
                    <form class="form" method="POST" id="fContato"></form>


                    <label for="cNome"></label>
                    <input class="cells" type="text" name="tNome" id="cNome" size="30" maxlength="35" placeholder="Seu nome">



                    <label for="cPhone"></label>
                    <input class="cells" type="text" name="tPhone" id="cPhone" size="30" placeholder="Telefone">



                    <label for="cMessage"></label>
                    <textarea name="tMessage" id="cMessage" cols="30" rows="5" placeholder="Sua mensagem "></textarea>


                    <label for="cSend"></label>
                    <input type="button" name="tSend" id="cSend" value="Enviar mensagem" onclick="send()">
                </fieldset>
                </form>

                <br> Visite também nossa pagina no Facebook <br>
                <div class="fb-page" data-href="https://m.facebook.com/camilacaramelofestas/" data-tabs="timeline" data-width="500" data-height="100" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false">
                    <blockquote cite="https://m.facebook.com/camilacaramelofestas/" class="fb-xfbml-parse-ignore"><a href="https://m.facebook.com/camilacaramelofestas/">Caramelo Festas e Eventos</a></blockquote>
                </div>
            </article>
        </section>

        <footer id="footer-main">
            Caramelo festas e Eventos &copy; 2020 - Todos os direitos reservados | Desenvolvido por Valmir <br>
            <a href="https://www.linkedin.com/in/valmir-barros/" target="_blank">LikedIn </a> |
            <a href="https://www.facebook.com/valmir.barros.169/" target="_blank">Facebook</a> |
            <a href="https://github.com/ValmirBP" target="_blank">GitHub</a>
        </footer>
    </div>
</body>

</html>